{{#partial "content"}}

    <div id='intro'>
        <div class='cta container'>
            <img alt='Let the adventure begin' class ="splash" src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/adventure-splash.svg'>
            <h1><em>TripWizard</em></h1>
            <p>Let us find your dream vacation based off your unique desires!</p>
            <a class='button' href='/homepage'>
                <span>Discover your destination</span>
            </a>
            <div class="video">
                <iframe src="https://player.vimeo.com/video/175777474?background=1" width="800" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout2.hbs}}