{{#block "header"}}
<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}TripWizard{{/block}}</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/main.css'>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Quattrocento+Sans" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4eQBzQPiZRrg-T2-ygRv_wNVLsrhCG18"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.js"></script>
    <script src="https://use.fontawesome.com/3f116dc76b.js"></script>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
    </li>
    <form class="search-container" >
        <input id="search-box" type="text" class="search-box" name="search" />
        <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
    </form>
</ul>
{{/block}}
{{#block "content"}}

{{/block}}

<!--<div id='tours'>-->
    <!--<div class='container'>-->
        <!--<h2>Where would you like to go?</h2>-->
        <!--<form action='#'>-->
            <!--<input id='location' placeholder='Location' type='text'>-->
            <!--<button class='button' type='submit'>Get Moving</button>-->
        <!--</form>-->
    <!--</div>-->
    <!--<ul>-->
        <!--<li>-->
            <!--<div>-->
                <!--<h3>Denali</h3>-->
                <!--<h4>Alaska</h4>-->
            <!--</div>-->
            <!--&lt;!&ndash; Image by Maureen [CC-BY-2.0 (http://creativecommons.org/licenses/by/2.0)], via Flickr, https://www.flickr.com/photos/amerune/9374725724 &ndash;&gt;-->
            <!--<img alt='Denali, Alaska' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/denali_alaska.jpg'>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div>-->
                <!--<h3>Mirror Lake</h3>-->
                <!--<h4>California</h4>-->
            <!--</div>-->
            <!--&lt;!&ndash; Image By chensiyuan (chensiyuan) [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC BY-SA 4.0-3.0-2.5-2.0-1.0 (http://creativecommons.org/licenses/by-sa/4.0-3.0-2.5-2.0-1.0)], via Wikimedia Commons, https://upload.wikimedia.org/wikipedia/commons/7/70/Yosemite_national_park_mirror_lake_2010u.JPG &ndash;&gt;-->
            <!--<img alt='Mirror Lake, California' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/mirror-lake_california.jpg'>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div>-->
                <!--<h3>Antelope Canyon</h3>-->
                <!--<h4>Arizona</h4>-->
            <!--</div>-->
            <!--&lt;!&ndash; Image By Moyan Brenn [CC-BY-2.0 (http://creativecommons.org/licenses/by/2.0)], via Flickr, https://www.flickr.com/photos/aigle_dore/5951674773 &ndash;&gt;-->
            <!--<img alt='Antelope Canyon, Arizona' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/antelope-canyon_arizona.jpg'>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div>-->
                <!--<h3>Key West</h3>-->
                <!--<h4>Florida</h4>-->
            <!--</div>-->
            <!--&lt;!&ndash; Image By Ricymar Photography [CC-BY-2.0 (http://creativecommons.org/licenses/by/2.0)], via Flickr, https://www.flickr.com/photos/ricardo_mangual/5749480168 &ndash;&gt;-->
            <!--<img alt='Key West, Florida' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/key-west_florida.jpg'>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div>-->
                <!--<h3>Saint Mary Lake</h3>-->
                <!--<h4>Montana</h4>-->
            <!--</div>-->
            <!--&lt;!&ndash; Image By Ricymar Photography [CC-BY-2.0 (http://creativecommons.org/licenses/by/2.0)], via Flickr, https://www.flickr.com/photos/ricardo_mangual/5749480168 &ndash;&gt;-->
            <!--<img alt='Saint Mary Lake, Montana' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/saint-mary-lake_montana.jpg'>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div>-->
                <!--<h3>Moab</h3>-->
                <!--<h4>Utah</h4>-->
            <!--</div>-->
            <!--&lt;!&ndash; Image By Gridge [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC BY-SA 4.0-3.0-2.5-2.0-1.0 (http://creativecommons.org/licenses/by-sa/4.0-3.0-2.5-2.0-1.0)], via Wikimedia Commons, https://upload.wikimedia.org/wikipedia/commons/0/06/Delicatearch1.jpg &ndash;&gt;-->
            <!--<img alt='Moab, Utah' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/moab_utah.jpg'>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div>-->
                <!--<h3>Waipio Valley</h3>-->
                <!--<h4>Hawaii</h4>-->
            <!--</div>-->
            <!--&lt;!&ndash; Image By Paul Bica [CC-BY-2.0 (http://creativecommons.org/licenses/by/2.0)], via Flickr, https://www.flickr.com/photos/dexxus/5652914929 &ndash;&gt;-->
            <!--<img alt='Waipio Valley, Hawaii' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/waipio-valley_hawaii.jpg'>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div>-->
                <!--<h3>Carlsbad Caverns</h3>-->
                <!--<h4>New Mexico</h4>-->
            <!--</div>-->
            <!--&lt;!&ndash; Image By Guinther [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC-BY-SA-3.0 (http://creativecommons.org/licenses/by-sa/3.0/)], via Wikimedia Commons, https://upload.wikimedia.org/wikipedia/commons/d/dd/Carlsbad_Interior_Formations.jpg &ndash;&gt;-->
            <!--<img alt='Carlsbad Caverns, New Mexico' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/carlsbad-caverns_new-mexico.jpg'>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
<!--<div class='container' id='pricing'>-->

{{#block "footer"}}

    <script src="/js/main.js"></script>
    </body>
    </html>
{{/block}}