{{#partial "content"}}
    <form action="/{{id}}/suggestions" method="POST">



        <!--<input id="ex1" type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="3"/>-->
        <!--<span id="ex1CurrentSliderValLabel">Importance: <span id="ex1SliderVal">3</span></span>-->
        <div class="form-group">
            <label for="maxBudget">What is your budget per day?</label>
            <input id="maxBudget" type="number" name="maxBudget" required>
        </div>

        <div class="form-group">
            <h3>What season do you want to travel?</h3>
            <div class="radio">
                <label><input type="radio" name="season" value="Summer" required>Summer</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="season" value="Fall">Fall</label>
            </div>
            <div class="radio disabled">
                <label><input type="radio" name="season" value="Winter">Winter</label>
            </div>
            <div class="radio disabled">
                <label><input type="radio" name="season" value="Spring">Spring</label>
            </div>
        </div>
        <div class="form-group">
            <h3>How important is nightlife to you?</h3>
            <div class="radio">
                <label><input type="radio" name="nightlife" value="1" required>Not at all</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="nightlife" value="3">Somewhat</label>
            </div>
            <div class="radio disabled">
                <label><input type="radio" name="nightlife" value="5">Most important</label>
            </div>
        </div>
        <div class="form-group">
            <h3>How important are the arts to you?</h3>
            <div class="radio">
                <label><input type="radio" name="arts" value="1" required>Not at all</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="arts" value="3">Somewhat</label>
            </div>
            <div class="radio disabled">
                <label><input type="radio" name="arts" value="5">Most important</label>
            </div>
        </div>
        <div class="form-group">
            <h3>How important are the outdoors to you?</h3>
            <div class="radio">
                <label><input type="radio" name="outdoorsy" value="1" required>Not at all</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="outdoorsy" value="3">Somewhat</label>
            </div>
            <div class="radio disabled">
                <label><input type="radio" name="outdoorsy" value="5">Most important</label>
            </div>
        </div>











        <button type="submit" class="btn btn-info">Continue</button>
    </form>

{{/partial}}

{{> layout.hbs}}