{{#partial "content"}}
    <form action="">
        <div class="form-group">
            <label for="name">Your name: </label>
            <input id="name" name="name" type="text" required>
        </div>
        <div class="form-group">
            <label for="duration">How many days are you looking to travel for?</label>
            <input id="name" name="duration" type="text" required>
        </div>
        <button type="submit" class="btn btn-info">Continue</button>
    </form>

{{/partial}}

{{> layout.hbs}}